<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=WIN-DEV;Initial Catalog=datam;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="server=127.0.0.1;uid=root;pwd=***;database=datam;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="PatchesFolder" value="..\..\..\Scripts\SqlServer"/>
    <add key="PatchesRegex" value="*.Patch.sql"/>
    <add key="DBType" value="SqlServer"/><!-- SqlServer, MySql -->
  </appSettings>
</configuration>